---
layout: default
title: Photography
permalink: /photography/
---
<header class="page-header">
    <h1 class="page-title">Photography</h1>
</header>

{% for category in site.categories %}
{% if category[0] contains "photography" %}
{% for post in category[1] %}
<article class="page-article">
    <div class="wrap-content">
        <header class="page-header">
            <h1 class="page-title">{{post.title}}</h1>
            <div class="page-date"><span>{{post.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
        </header>
        <div class="page-content">
            {% if post.img %}
            <img class="page-img" src={{ "/assets/img/" | prepend: site.baseurl | append : post.img}}
            alt="{{post.title}}">
            {% endif %}
            {{post.content | markdownify}}
        </div>
        {% include disqus.html %}
    </div>
</article>
{% endfor %}
{% endif %}
{% endfor %}

